:root {
    font-family: "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 16pt;
    line-height: 1.5;

    max-width: 70ch;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}
