:root {
    font-family: "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    color: #222;
}

body {
    max-width: 70ch;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}
